* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  min-width: 1400px;
  color: #85898d;
  background-color: #1b1b1b;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #85898d;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  object-fit: cover;
}

.mt-special {
  margin-top: calc(48px * 2 + 96px) !important;
}

.d-flex {
  display: flex;
}
.d-iblock {
  display: inline-block;
}
.d-none {
  display: none;
}
.d-grid {
  display: grid;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}

.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.t-size-3em {
  font-size: 3em;
}
.t-size-2em {
  font-size: 2em;
}

.p-body-bottom {
  padding-bottom: 112px;
}

.border-test {
  border: 1px solid red;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: #1b1b1b;
}

#nav {
  padding: 12px 117px;
  color: #85898d;
  background-color: #1b1b1b;
  font-family: "BBManualMono";
  position: relative;
}
.sub-nav-hover:hover #sub-nav {
  display: block;
}

#sub-nav {
  width: 400px;
  position: absolute;
  padding: 30px 50px;
  font-size: 32px;
  color: #85898d;
  background-color: #303030;
  font-family: "BBManualMono";
  display: none;
  cursor: pointer;
  text-decoration: none;
}
#sub-nav li:hover, #sub-nav li a:hover {
  color: white;
}

#author-name p {
  color: #fff;
  /* margin-left: 267px; */
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: "BBManualMono";
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  top: calc(40px - 0.5rem);
  left: 50vw;
  transform: translate(-50%, -50%);
}

#menu {
  margin-top: calc(48px * 2 + 96px);
  padding: 48px 20px;
}

#menu p span:hover {
  color: white;
  cursor: pointer;
}

#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #1b1b1b;
}

#footer svg:hover path {
  fill: white !important;
  cursor: pointer;
}

.gallery {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
}

.gallery img {
  width: 100%;
  height: 100%;
  display: block;
}

.gallery-item {
  position: relative;
}

.gallery-2 {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(2, 1fr);
}
.gallery-3 {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background: #d9d9d9;
  backdrop-filter: blur(10px);
  font-family: Helvetica;
  text-align: center;
  color: black;
  text-transform: uppercase;
}

.gallery-item:hover .overlay {
  opacity: 0.8;
}
.overlay-text {
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay-year {
  font-size: 1.5rem;
}

#bigview {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(94, 94, 94, 0.7);
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
}

#bigview img {
  width: 60%;
}

#brainstorming,
#bull_born,
#grunge_collection,
#international,
#mi_chau,
#resonance,
#t_shirt_graphic,
#vong_nga,
#ascendancy,
#dearth,
#equinox,
#george,
#purging {
  margin: auto;
  max-width: 1368px;
  grid-template-columns: repeat(1, 1fr);
}

#hanoi_model,
#rock_club,
#song_vien,
#Fequinox {
  max-width: 1368px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#rock_club img {
  width: 100%;
  object-fit: cover;
}
